/* DUDAS */

@media screen and (min-width: 1024px) {

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    body {
        background-image: url(../IMG/fondo_desktop_dudas.png);
        background-size: cover;
        background-repeat: no-repeat;
        overflow-x: hidden;
    }

    #FAQ {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }

    #FAQ {
        width: 100vw;
        height: 120vh;
        position: relative;
    }

    #FAQ h2 {
        margin-left: -340px;
        font-size: 3.5rem;
        color: #DDFFD9;
        font-family: SPACEGROTESK;
        font-weight: bolder;
        position: absolute;
        top: 70px;
    }

    .acordeon {
        margin: auto;
        border-radius: 6px;
        overflow: hidden;

    }

    .acordeon-item {
        border-bottom: 1px solid #DDFFD9;
    }

    .acordeon-header {
        width: 100%;
        padding: 15px;
        border: 1px solid #DDFFD9;
        background-color: #FF1C1C25;
        color: #DDFFD9;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        box-shadow: 0px 0px 0px 1px #DDFFD9,
            inset 0px 0px 8px 1px #DDFFD9;
        transition: all 0.3s ease-in-out;
    }

    .acordeon-header::after {
        content: "";
        width: 1.25rem;
        height: 1.25rem;
        background-image: url("../IMG/BP_FLECHA_ACCORDEON.png");
        background-repeat: no-repeat;
        background-size: 1.25rem;
        position: absolute;
        right: 1.25rem;
        top: 60%;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;
    }

    .acordeon-header:hover {
        color: #77CBB9;
        text-decoration: underline;
    }

    .acordeon-header:active {
        color: #FF1C1C;
        text-decoration: underline;
    }

    .acordeon-header.active::after {
        transform: translateY(-80%) rotate(180deg);
    }

    .acordeon-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding: 0 15px;
        box-shadow: 0px 0px 0px 1px #DDFFD9,
            inset 0px 0px 8px 1px #DDFFD9;
    }

    .acordeon-body p {
        margin: 15px 0;
        color: #DDFFD9;
    }

    #FOOTER {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 50px;
    }

    #FOOTERTEXT {
        position: absolute;
        top: 90px;
        left: 50%;
    }

    #FOOTER .icon {
        position: absolute;
        bottom: 125px;
        left: 10%;
    }

    #FOOTER .flecha {
        position: absolute;
        bottom: 120px;
        left: 90%;
    }

    #bgmenu {
        position: absolute;
        left: 910px;
        width: 250px;
    }

    .IDIOMA {
        position: absolute;
        right: 10px;
    }

    #flecha {
        width: 150px;
        margin-left: 50px;

    }
}