body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    background-color: #060c0e;
    background-image: url(../IMG/fondo_movil.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    /* display: grid;
    grid-template-columns: 1fr;
    height: 500vh; */
    display: flex;
    flex-direction: column;
    height: auto;
}

header nav {
    background: linear-gradient(to bottom,
            #060c0e 0%,
            #060c0e 75%,
            rgba(0, 0, 0, 0.434) 85%,
            rgba(0, 0, 0, 0) 100%);
    width: 100vw;
    height: 8vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: SPACEGROTESK;
    color: #DDFFD9;
    position: fixed;
    z-index: 3;
}

#logo {
    width: 200px;
    margin-left: 20px;
    margin-top: -5px;
    transition: 0.3s ease-in-out;
}

#logo:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#flecha {
    width: 30px;
    margin-left: 15px;
    margin-right: 35px;
    transition: 0.3s ease-in-out;
}

#flecha:hover {
    transform: scale(1.2);
    cursor: pointer;
}

img {
    width: 100%;
}

nav section {
    display: flex;
    align-items: center;
    margin-top: -5px;
}

#bgmenu {
    width: 1000px;
    font-family: ETHNOCENTRIC;
    display: none;
    margin-top: 190px;
    margin-left: 250px;
    position: absolute;
    background-color: #060c0e95;
    padding: 20px;
    list-style: none;
    border-radius: 8px;
}

#bgmenu li,
a {
    margin-top: 5px;
    text-decoration: none;
    color: #DDFFD9;
}

#bgmenu li a:hover {
    color: #77CBB9;
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}

#bgmenu li a:active {
    color: #d10000;
    text-decoration: underline;
    transition: ease-in;
}

header span {
    transition: 0.3s ease-in-out;
}

header span:hover {
    color: #d10000;
    text-decoration: underline;
    transform: scale(1.2);

    cursor: pointer;
}

nav p {
    margin-right: 20px;
}

/* INDEX */

#INICIO, #INFO, #MEDIA, #FAQ, #NEWSLETTER {
    width: 100vw;
    position: relative;
    display: flex;
    overflow: hidden;
}

#INICIO {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#INICIO .contenido-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    width: 90%;
    gap: 20px;
}

#INICIO video {
    position: absolute;
    width: 110vw;
    height: 100vh;
    right: -26px;
    scale: 101%;
}

#BLUR {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10vh;
    background: linear-gradient(#05090b00, #05090B);
    z-index: 2;
}

#INICIO picture {
    width: 100%;
    position: absolute;
    top: 70px;
    left: -5px;    
    animation-name: Logo;
        animation-delay: 26s;
        animation-duration: 27s;
}

#INICIO picture img {
    width: 100%;
    max-width: 500px;
}

#INICIO h2 {
    width: 90%;
    text-align: center;

    font-family: SPACEGROTESK;
    font-weight: 400;
    color: #DDFFD9;

    position: absolute;
    left: 5%;
    top: 445px;

    animation-name: Lema;
        animation-delay: 26s;
        animation-duration: 27s;
}

#INICIO h3 {
    width: 35%;
    font-family: SPACEGROTESK;
    font-weight: 400;
    color: #DDFFD9;
    text-align: left;

    position: absolute;
    left: 22%;
    top: 580px;
    transform: translateX(-50%);

}

.contenido-boton {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

#INICIO .Boton1 {
    position: absolute;
    top: 660px;
    left: 0%;
}

#INICIO .Boton2 {
    width: 25%;
    position: absolute;
    top: 660px;
    left: 65%;
}

#INFO {
    width: 100vw;
    height: 50vh;
    align-items: center;
    position: relative;
    top: 30px;
}

#INFO h2 {
    margin-left: 20px;
    color: #DDFFD9;
    font-family: SPACEGROTESK;
    position:absolute;
    top: -10px;
}

#INFO .Boton1 {
    position: absolute;
    top: 300px;
    height: 2.5vh;
}

#MEDIA {
    width: 100vw;
    height: 200vh;
    align-items: center;

    position: relative;
    top: 10px;
}

#MEDIA h2 {
    margin-left: 20px;
    color: #DDFFD9;
    font-family: SPACEGROTESK;
    position:absolute;
    top: 30px;
}

#MEDIA .Boton1 {
    width: 45%;
}

#MEDIA .Boton2 {
    position: absolute;
    top: 90px;
}

/* section .MEDIACARDS {
    padding: 10px;
    width: 80vw;
    position: absolute;
    top: 150px;
} */

#FAQ {
    top: -10px;
    height: 90vh;
    justify-content: center;
}

#FAQ .PICAS img {
    position: relative;
    top: 150px;
    left: 70%;
    transform: translateX(-50%);
    scale: 150%;
    opacity: 50%;
}

#FAQ h2 {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    font-family: SPACEGROTESK;
    font-weight: 100;
    color: #DDFFD9;    
}

#FAQ .Boton2 {
    width: 150px;
    height: 20px;
    margin: 0 auto;
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
}

#FAQ .Boton2 a {
    margin-top: 1px;
}

#NEWSLETTER {
    width: 100vw;
    height: 80vh;
    align-items: center;
    position: relative;
    top: -30px;
}

#NEWSLETTER h2 {
 margin-left: 20px;
    color: #DDFFD9;
    font-family: SPACEGROTESK;
    position:absolute;
    top: 150px;
}

#NEWSLETTER h4 {
    width: 90%;
    font-family: SPACEGROTESK;
    font-weight: 400;
    font-size: 2rem;
    color: #DDFFD9;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
}

#NEWSLETTER .Boton2 {
    width: 25%;
    position: absolute;
    top: 540px;
    left: 48%;
    transform: translateX(-50%);
}

#NEWSLETTER .Boton2 a{
    margin-top: 2px;
}


#FOOTER {
    color: #DDFFD9;
    padding: 10px;

    position: relative;
}

#FOOTER img {
    width: 60px;
    margin-left: 15px;
    margin-right: 35px;
    transition: 0.3s ease-in-out;
}

#FOOTER img:hover{
    transform: scale(1.2);
}

#FOOTER .icon img{
    position: absolute;
    left: 20px;
    top: 70px;

}

#FOOTER .flecha img{
    position: absolute;
    right: -5px;
    left: auto;
    top: 100px;
}

#FOOTER hr {
    border-top: 1px solid #DDFFD9;
    width: 80%;
    margin-bottom: 100px;

}

#FOOTERTEXT {
    position: absolute;
    left: 48%;
    top: 65px;
    transform: translateX(-50%);
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

#FOOTERTEXT p, a{
    margin-top: -10px;
    transition: 0.3s ease-in-out;
}
#FOOTERTEXT a:hover {
    color: #77CBB9;
    text-decoration: underline;
}

#FOOTERTEXT a:active {
    color: #d10000;
    text-decoration: underline;
}

#LEGALTEXT {
    position: absolute;
    font-size: 0.8rem;
    top: 110px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

#LEGALTEXT a:hover {
    color: #77CBB9;
    text-decoration: underline;
}

#LEGALTEXT a:active {
    color: #d10000;
    text-decoration: underline;
}

#COPYRIGHT {
    font-weight: bold;
    width: 100%;
    color: #d10000;
    position: absolute;
    top: 150px;
    left: 5%;
    }

#COPYRIGHT .ENG {
    margin-left: 17%;
}

